@charset "UTF-8";
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-SemiBold.woff);
  font-weight: 600;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-ExtraBold.woff);
  font-weight: 800;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-Black.woff);
  font-weight: 800;
}
body {
  font-family: "yy Gothic";
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

.intro-section {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 헤더 및 푸터 스타일링 */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}
header .btn {
  font-family: "yy Gothic";
  font-size: 2rem;
  border-radius: 50px;
  padding: 0px 10px;
  border: none;
  font-weight: 500;
}
header .btn.home {
  background-color: #000;
  color: #fff;
}
header .btn.about {
  background-color: #fff;
  color: #000;
}

footer {
  display: flex;
  justify-content: space-between;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}
footer .link-btns-wrapper {
  position: relative;
}
footer .link-btns-wrapper .links {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}
footer .link-btns-wrapper .links .link-926,
footer .link-btns-wrapper .links .my-link {
  font-size: 1.5rem;
  z-index: -1;
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out 0.2s;
  opacity: 0;
  padding: 5px;
}
footer .link-btns-wrapper .links .link-926:hover,
footer .link-btns-wrapper .links .my-link:hover {
  filter: invert(100%);
}
footer .link-btns-wrapper .links .my-link {
  transform: translateY(200%);
}
footer .link-btns-wrapper:hover .links {
  transform: translateY(-115%);
}
footer .link-btns-wrapper:hover .links .link-926,
footer .link-btns-wrapper:hover .links .my-link {
  opacity: 1;
}
footer .link-btns-wrapper:hover .links .my-link {
  transform: translateY(0%);
}
footer .btn {
  font-family: "yy Gothic";
  font-size: 2rem;
  border-radius: 50px;
  padding: 0px 10px;
  border: none;
  font-weight: 500;
}
footer .btn.link {
  background-color: #000;
  color: #fff;
}
footer .btn.download {
  background-color: #fff;
  color: #000;
}

/* 배경 스타일링 */
.bg-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.bg-wrapper .left {
  width: 50%;
  height: 100%;
  background-color: #fff;
}
.bg-wrapper .right {
  width: 50%;
  height: 100%;
  background-color: #000;
}