@charset "UTF-8";
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-Regular.woff);
  font-weight: 400;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-Medium.woff);
  font-weight: 500;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-SemiBold.woff);
  font-weight: 600;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-Bold.woff);
  font-weight: 700;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-ExtraBold.woff);
  font-weight: 800;
}
@font-face {
  font-family: "yy Gothic";
  src: url(./assets/fonts/Pretendard-Black.woff);
  font-weight: 800;
}
body {
  font-family: "yy Gothic";
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-size: 16px;
}

.intro-section {
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

/* 헤더 및 푸터 스타일링 */
header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 1rem;
  left: 1rem;
  right: 1rem;
}
header #control-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
header #control-wrapper:hover #control-buttons {
  transform: translateY(0%);
  opacity: 1;
}
header #control-wrapper:hover #control-buttons #line-width-btn-wrapper {
  transform: translateY(0%);
}
header #control-wrapper #control-buttons {
  opacity: 0;
  transform: translateY(-150%);
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
}
header #control-wrapper #control-buttons .btn {
  font-size: 1.5rem !important;
}
header #control-wrapper #control-buttons .btn:hover {
  background-color: #000;
  color: #fff;
}
header #control-wrapper #line-width-btn-wrapper {
  display: flex;
  justify-content: end;
  gap: 0.5rem;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out 0.2s;
  z-index: -1;
}
header #control-wrapper #line-width-btn-wrapper .btn {
  width: 40px;
  height: 40px;
  line-height: 100%;
}
header .btn {
  font-family: "yy Gothic";
  font-size: 2rem;
  border-radius: 50px;
  padding: 5px 10px;
  border: none;
  font-weight: 500;
  height: fit-content;
  cursor: grab !important;
  text-decoration: none !important;
}
header .btn.home {
  background-color: #000;
  color: #fff;
}
header .btn.controls {
  background-color: #fff;
  color: #000;
}

footer {
  display: flex;
  justify-content: start;
  position: fixed;
  bottom: 1rem;
  left: 1rem;
  right: 1rem;
}
footer .link-btns-wrapper {
  position: relative;
}
footer .link-btns-wrapper .links {
  display: flex;
  flex-direction: column-reverse;
  gap: 1rem;
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.5s ease-in-out;
  z-index: -1;
}
footer .link-btns-wrapper .links .link-926,
footer .link-btns-wrapper .links .my-link {
  font-size: 1.5rem;
  z-index: -1;
  transition: opacity 0.3s ease-in-out, transform 0.5s ease-in-out 0.2s;
  opacity: 0;
  padding: 5px;
  color: #000;
  background-color: #eee;
  mix-blend-mode: difference;
  text-decoration: none;
  text-align: center;
}
footer .link-btns-wrapper .links .link-926:hover,
footer .link-btns-wrapper .links .my-link:hover {
  filter: invert(100%);
}
footer .link-btns-wrapper .links .my-link {
  transform: translateY(200%);
}
footer .link-btns-wrapper:hover .links {
  transform: translateY(-115%);
}
footer .link-btns-wrapper:hover .links .link-926,
footer .link-btns-wrapper:hover .links .my-link {
  opacity: 1;
}
footer .link-btns-wrapper:hover .links .my-link {
  transform: translateY(0%);
}
footer .btn {
  font-family: "yy Gothic";
  font-size: 2rem;
  border-radius: 50px;
  padding: 5px 10px;
  border: none;
  font-weight: 500;
  height: fit-content;
  cursor: grab;
  text-decoration: none;
}
footer .btn.link {
  background-color: #000;
  color: #fff;
}
footer .btn.download {
  background-color: #fff;
  color: #000;
}

/* 배경 스타일링 */
.screenshot-wrapper {
  display: block;
  width: 100%;
  height: 100%;
}

.bg-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
}
.bg-wrapper .left {
  width: 50%;
  height: 100%;
  background-color: #fff;
  transition: background-color 0.1s ease-in-out;
}
.bg-wrapper .right {
  width: 50%;
  height: 100%;
  background-color: #000;
  transition: background-color 0.1s ease-in-out;
}

/* 캔버스 스타일링 */
canvas {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 100vh;
  background-color: transparent;
  mix-blend-mode: difference;
  pointer-events: none;
}

/* 커스텀 커서 스타일링 */
.custom-cursor-wrapper {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  pointer-events: none;
}
.custom-cursor-wrapper .fake-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  filter: drop-shadow(0px 5px 5px rgba(0, 0, 0, 0.4));
  z-index: 1000;
}