@font-face {
    font-family: 'yy Gothic';
    src: url(./assets/fonts/Pretendard-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: 'yy Gothic';
    src: url(./assets/fonts/Pretendard-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: 'yy Gothic';
    src: url(./assets/fonts/Pretendard-SemiBold.woff);
    font-weight: 600;
}

@font-face {
    font-family: 'yy Gothic';
    src: url(./assets/fonts/Pretendard-Bold.woff);
    font-weight: 700;
}

@font-face {
    font-family: 'yy Gothic';
    src: url(./assets/fonts/Pretendard-ExtraBold.woff);
    font-weight: 800;
}

@font-face {
    font-family: 'yy Gothic';
    src: url(./assets/fonts/Pretendard-Black.woff);
    font-weight: 800;
}

body {
    font-family: 'yy Gothic';
    margin: 0;
    width: 100vw;
    height: 100vh;
    font-size: 16px;
}

.intro-section {
    display: none;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* 헤더 및 푸터 스타일링 */

header {
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 1rem;
    left: 1rem;
    right: 1rem;
}

footer {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 1rem;
    left: 1rem;
    right: 1rem;
}

header .btn,
footer .btn {
    font-family: 'yy Gothic';
    font-size: 2rem;
    border-radius: 50px;
    padding: 0px 10px;
    border: none;
    font-weight: 500;
}

header .home,
footer .link {
    background-color: #000;
    color: #fff;
}

header .about,
footer .download {
    background-color: #fff;
    color: #000;
}

.link-btns-wrapper {
    position: relative;
}

.link-btns-wrapper .link-926,
.link-btns-wrapper .my-link {
    position: absolute;
    left: 0;
    font-size: 1.5rem;
    z-index: -1;
}

.link:hover > .link-926 {
    transform: translateY(-200%);
}

.link:hover {
    background-color: aqua;
}

/* 배경 스타일링 */

.bg-wrapper {
    display: flex;

    width: 100%;
    height: 100%;
}

.bg-wrapper .left {
    width: 50%;
    height: 100%;
    background-color: #fff;
}

.bg-wrapper .right {
    width: 50%;
    height: 100%;
    background-color: #000;
}
